body {
	font-family: arial,helvetica,sans-serif;
	padding: 20px;
}

h1, h2 {
	color: #DAA520;
	margin-top: 5px;
	margin-bottom: 0px;
}

.date {
	color: #808080;
	text-transform: uppercase;
	font-size: 80%;
	margin-top: 30px;
	margin-bottom: 0px;
}

.author {
	color: #808080;
	font-size: 80%;
	margin-top: 5px;
}

.introduction {
	border-left: 3px solid #DAA520;
	padding-left: 10px;
}

.read-more {
	color: #004276;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}